html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}


/* ----------------------------page---------------------------- */

.page {
  width: 100%;
  height: 100vh; /* Еденица измерения 1 экран. Viewport Height (vh) — это процентная величина от общей высоты области просмотра. 10vh составляет 10% от текущей высоты области просмотра.
  */
  min-height: 870px;
  background: #000 url('../image/bg.jpg') center no-repeat;
  background-size: cover;

  position: relative;

  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* ----------------------------header---------------------------- */

.header {
  padding: 1rem 0 0;
  background-color: #2b7ded;
  margin-bottom: 70px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-brand {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.header-logo img {
  display: block;
}

.header-nav {
  display: flex;
}

.img-logo {
  width: 90px;
  margin-bottom: 0;
}

.nav-link {
  font-size: 1rem;
  margin-left: 2rem;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;

  transition: color 0.2s linear;
}

.nav-link:hover {
  color: red;
}

.nav-link.active {
  position: relative;
}

.nav-link.active::after {
  content: "";
  background-color: #ffffff;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -5px;
}

/* ----------------------------content---------------------------- */

.content {
  height: 100%;
  width: 100%;
  max-width: 565px;
}

.content-header {
  margin-bottom: 35px;
}

.subtitle {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 300;
  opacity: 0.6;
}

.title {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.2;
}

.title span {
  color: #1d77f5;
}

.text {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 50px;
}

.pog {
  font-style: italic;
  text-decoration: underline;
}

/* ----------------------------btn---------------------------- */

.btn {
  display: inline-block; 
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1;

  color: #ffffff;
  background-color: #1d77f5;

  text-decoration: none;
  font-family: inherit;

  border-radius: 5px;
  border: 0;
  padding: 1rem 2rem;

  transition: background 0.2s linear;

  cursor: pointer;
}

.btn:hover {
  background-color: #0253c4;
}

.btn-full {
  display: block;
  width: 100%;
}

/* ----------------------------author---------------------------- */
.author {
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 400px; 
  height: auto;
}

/* ----------------------------footer---------------------------- */

.footer {
  width: 100%;
  position: absolute;
  bottom: 45px;
  left: 0;
}

/* ----------------------------contact---------------------------- */

.contacts {
  display: flex;
  align-items: center;
}

.contact-link {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 2rem;
}

.contact-link:last-child {
  margin-right: 0;
  position: relative;
}

.contact-link:last-child::after {
  content: "";
  display: block;
  margin-left: 2rem;
  width: 80px;
  height: 2px;
  background-color: #fff;

  position: absolute;
  left: 100%;
  top: 10px;

  pointer-events: none; /* Убрать все взаимодействия с полоской */
}

.contact-link:hover {
  text-decoration: underline;
}

.contacts-icons {
  margin-right: 5px;
}

.contacts-icons:last-child {
  margin-right: 0;
}

.link-wiki {
  font-size: 1.5rem;
  color: #fff;
}

/* ----------------------------input---------------------------- */

.form {
  width: 100%;
  max-width: 280px;
}

.form-group {
  margin-bottom: 20px;
}

.input,
textarea {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, .1);
  border: 0;
  padding: 12px 18px;
  color: #fff;
  border-radius: 5px;
}

.input::placeholder, 
textarea::placeholder {
  color: #fff;
}

.textarea {
  height: 100px;
  resize: none;
}


/* ----------------------------media---------------------------- */
@media (max-width: 1024px) {

  .author {
    right: -80px;
  }
}

@media (max-width: 811px) {
  .author {
    display: none;
  }
  .page {
    min-height: 100vh;
    height: auto;
    padding-bottom: 2rem;
  }
  .content {
    margin-bottom: 50px;
    max-width: none;
    text-align: center;
  }

  .form {
    margin: 0 auto;
  }
  .footer {
    position: static;
  }
  .contacts {
    flex-direction: column;
  }
  
  .contact-link:last-child::after {
    display: none;
  }
  .contact-link {
    margin-right: 0;
  }

}

@media (max-width: 767px) {
  
  .header {
    margin-bottom: 40px;
  }
  .header-logo {
    display: none;
  }
  .header-brand {
    font-size: 1.2rem;
  }

  
}

@media (max-width: 565px) {

  .header-inner {
    flex-direction: column;
  }
  .header-brand {
    margin-bottom: 5px;
  }
}

@media (max-width: 320px) {
  .subtitle {
    font-size: 1.2rem;

  }
  .title {
    font-size: 1.6rem;
  }
}
